@import "bourbon";
@import "vars.scss";

@media (max-width: 1800px){
  #sec_12{
    background-position: top right -300px;
  }
  #sec_14{
    background-position: top 390px right -200px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .btn{
    padding: 10px 20px;
    span{margin-right: 0}
  }
  .btn_arrow{display: none}
  .col--nopadding{margin-left: 0;}
  #sec_04, #sec_05, #sec_07,
  #sec_11, #sec_14, #sec_15{
    .only_img_col img {width: 100%}
    .img_only_col img {width: 100%}
  }
  .sec_01_wrapper{
    h1{
      background-size: contain;
      margin-right: -20px;
      font-size: 8.4rem;
    }
    .afterheader {
      margin-top: 0;
    }
  }
  #sec_03{
    .sec_img-1{
      width: 300px;
    }
  }
  .sec_03_item{width: 175px;}
  #sec_04{
    .sec_img{margin-top: 80px;}
    .only_img_col img {width: 100%}
  }
  #sec_05{
    padding-top: 80px;
    .sec_img{margin: 0;}
  }
  .four--colums .program_lists_item{
    width: 155px;
  }
  #sec_11{
    .sec_img-2{
      margin-top: 0px;
      margin-bottom: 40px;
    }
  }
  .slide{
    height: 655px;
    img{ width: 365px;}
    img:nth-child(3){left: 91px;}
  }
  .slick-next{right: 200px;} .slick-prev{right: 295px;}
  #sec_12{
    background-position: top right -300px;
  }
  #sec_13{margin-top: 0;}
  #sec_14{
    .sec_img-2{margin-top: 102px;}
  }
  #sec_16{
    padding-top: 60px;
    form{margin-top: 150px;}
  }
  .footer_navigation .menu_navigation_item + .menu_navigation_item {
      margin-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  html{font-size: 13px;}
  body{line-height: 20px;}
  br{display: none;}
  .btn{
    padding: 10px 20px;
    span{margin-right: 0}
  }
  .btn_arrow{display: none}
  .col--nopadding{margin-left: 0;}
  #sec_04, #sec_05, #sec_07,
  #sec_11, #sec_14, #sec_15{
    .only_img_col img {width: 100%}
    .img_only_col img {width: 100%}
  }
  .desctop{display: none}
  .mobile{display: block}
  .main_menu{
    padding: 40px;
    margin-right: -30px;
    .callback_button{
      margin-top: 60px;
    }
  }
  .sec_01_wrapper{
    padding-left: 80px;
    padding-top: 60px;
    h1{
      background: none;
      margin-right: 0px;
      color: $main_color;
      font-size: 9.4rem;
    }
    .afterheader {
      margin-top: 0;
    }
    .vertical_text {
      margin-left: -15px;
    }
  }
  #sec_02{margin-top: -480px;}
  #sec_03{
    .sec_img-1{
      width: 300px;
    }
  }
  .sec_03_item{width: 175px; margin: 20px;}
  .sec_03_item + .sec_03_item{margin-left: 20px}
  #sec_04{
    .sec_img{margin-top: 80px;}
    .only_img_col img {width: 100%}
  }
  #sec_05{
    padding-top: 80px;
    .sec_img{margin: 0;}
  }
  .four--colums .program_lists_item{
    width: 140px;
  }
  #sec_07{
    .sec_img{margin-top: -40px;}
  }
  #sec_08{
    .col-4{margin-left: 0%; width: 45%}
  }
  .program_period{
    padding-left: 60px;
  }
  .program_lists_item{width: 200px;}
  .program_lists_item+.program_lists_item{margin-left: 25px;}
  #sec_11{
    padding-top: 100px;
    .sec_img-1{
      margin-top: -50px;
    }
    .sec_img-2{
      margin-top: 0px;
      margin-bottom: 160px;
    }
  }
  #sec_12{
    background-position: top right -300px;
  }
  .slider{
    margin-top: 200px;
  }
  .slider img {
      width: 100%;
     max-width: 400px;
     margin: 0 auto;
   }
  .slick-next{right: 30px;} .slick-prev{left: 30px; right: initial;}
  #sec_13{margin-top: 0;}
  #sec_14{
    padding-top: 80px;
    padding-bottom: 140px;
    .sec_img-1{margin-top: 0px;}
    .sec_img-2{margin-top: 102px;}
  }
  #sec_15{
    padding-top: 80px;
    .sec_img-1{margin-top: -30px;}
  }
  #sec_16{
    padding-top: 60px;
    form{
      margin-top: 120px;
    }
  }
  .footer_navigation .menu_navigation_item + .menu_navigation_item {
      margin-left: 30px;
  }
  footer{
    .politics a{
      font-size: 13px;
    }
  }
  input::-webkit-input-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }

  input:-moz-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }

  input::-moz-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }

  input:-ms-input-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }
}


@media screen and (max-height: 700px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  .btn{height: 4.3rem;}
  div[id*="modal_picture"]{
    display: none;
    img{display: noen;}
  }
  .menu_site_navigation{display: none !important;}
  #sec_02, #sec_05, #sec_06, #sec_14, #sec_15{
    display: none;
  }
  [class*='col-']{width: 100%;}
  [class*='offset']{margin-left: 0;}
  .margined--left{margin-left: 0;}
  html{font-size: 13px;}
  body{line-height: 20px;}
  br{display: none;}
  .btn{
    padding: 10px 20px;
    span{margin-right: 0}
  }
  .btn_arrow{display: none}
  .col--nopadding{margin-left: 0;}
  #sec_04, #sec_05, #sec_07,
  #sec_11, #sec_14, #sec_15{
    .only_img_col {
      text-align: center;
      img{
        width: 100%;
        max-width: 340px;
        margin: 30px 0 !important;
      }
    }
    .img_only_col {
      text-align: center;
      img{
        width: 100%;
        max-width: 340px;
        margin: 30px 0 !important;
      }
    }
  }
  .desctop{display: none}
  .mobile{display: block}
  .main_menu{
    padding: 20px 40px 20px;
    margin: 0 -30px;
    .phones_wrapper{
      float: right;
      text-align: right;
      margin-top: -10px;
    }
    .callback_button{
      margin-top: 0px;
    }
    .logo{
      vertical-align: top;
      margin-bottom: 0;
    }
  }
  .main_menu_navigation{
    display: none;
  }
  .sec_01_wrapper{
    padding-left: 80px;
    padding-top: 60px;
    h1{
      background: none;
      margin-right: 0px;
      color: $main_color;
      font-size: 9.4rem;
    }
    .afterheader {
      margin-top: 0;
      line-height: 32px;
    }
    .vertical_text {
      margin-left: -15px;
    }
  }
  #sec_01{padding-bottom: 70px;}
  #sec_03{
    .sec_img-1{
      width: 300px;
    }
    .sec_img-2{display: none;}
  }
  .sec_03_items{margin-right: -20px; margin-left: -20px;}
  .sec_03_item{width: 175px;margin: 15px;}
  .sec_03_item + .sec_03_item{margin-left: 15px}
  #sec_04{
    padding-bottom: 0;
    .sec_img{display: none;}
    .only_img_col img {width: 100%}
  }
  #sec_05{
    padding-top: 80px;
    .sec_img{margin: 0;}
  }
  #sec_07{
    margin: 0;
    padding-bottom: 60px;
  }
  #sec_08{
    padding-bottom: 0;
    .col-4{margin-left: 0%;}
    .sec_img{
      margin: 40px 0 -40px;
      width: 100%;
      max-width: 380px;
    }
  }
  .program_period{
    padding-left: 60px;
  }
  .program_lists_item, .program_lists_item:nth-child(5){max-width: 100%}
  .program_lists_item+.program_lists_item{margin-left: 0px; margin-top: 40px;}
  .lists_item_title{margin-bottom: 15px;}
  .program_period .vertical_text{left: -35px;}
  .coach_card{
    max-width: 300px;
    margin: 0 auto 80px;
  }
  #sec_11{
    padding-top: 0;
    .sec_img-1{display: none;}
    .sec_img-2{
      margin-top: 0px;
      margin-bottom: 160px;
    }
    .sec_11-row_2{
      margin-top: 50px;
    }
    .sec_img-3{display: none;}
  }
  .slider{
    margin-top: 60px;
    height: auto;
  }
  #sec_12{
    background: none;
    padding-bottom: 40px;
    .section_title {
      margin-top: 0;
    }
    .col-8{margin-left: 0;}
  }
  .slider img {
      width: 100%;
     max-width: 400px;
     margin: 0 auto;
   }
  .slick-next{right: 30px;} .slick-prev{left: 30px; right: initial;}
  #sec_13{
    background-size: cover;
    margin-top: 0;
    .col-2+.col-2{margin-top: 30px;}
  }
  .schedule_time{margin-bottom: 5px;}
  .schedule_item{
    width: 300px;
    margin: 0 auto;
  }
  .schedule_item+.schedule_item{margin-top: 20px;}
  #sec_14{
    padding-top: 80px;
    padding-bottom: 140px;
    .sec_img-1{margin-top: 0px;}
    .sec_img-2{margin-top: 102px;}
  }
  #sec_16{
    padding-top: 60px;
    .item{
      max-width: 100%;
    }
    form{
      float: none;
      margin: 60px auto 0;
    }
  }
  .footer{
    margin-top: 130px;
    .logo{
      margin-bottom: 30px;
    }
    text-align: center;
  }
  .footer_navigation .menu_navigation_item + .menu_navigation_item {
      margin-left: 18px;
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 14px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
  }
  div[id*="modal_callback"]{
    min-width: 320px;
    .md-content{
      padding: 35px;
    }
    h2{
      margin: 30px 0;
      line-height: 34px;
    }
    form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%;
    }
    .field{
      max-width: 360px;
      width: 100%;
    }
    .field+.field {
     margin-top: 15px
    }
    .btn{
      margin: 25px auto 0;
    }
  }
  div[id*='modal_politics']{
    h2{
      padding-top: 70px;
      font-size: 2rem;
      color: $main_color;
      font-family: $main_bold_font;
    }
    .btn_close_modal{
      top: 20px;
    }
  }
  input::-webkit-input-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }

  input:-moz-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }

  input::-moz-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }

  input:-ms-input-placeholder{
    color: #9F9F9F;
    font: 1.3rem/1.3rem $main_font;
  }
}

@media (max-width: 499px) {
  html{font-size: 10px;}
  body{font-size: 1.5rem;}
  .sec_01_wrapper{
    padding-left: 50px;
    h1{
      font-size: 7rem;
      padding: 0;
      line-height: 6rem;
    }
    .afterheader{
      text-align: left;
    }
  }
  .btn_close_modal{
    right: 0;
  }
  .program_title {
    font-size: 1.4rem;
  }
  #sec_10{
    padding-top: 0;
  }
  .slick-next, .slick-prev{
    top: 0;
  }
}

@media (max-width: 404px) {
  .sec_03_items{
    margin-right: -15px;
    margin-left: -10px;
    .sec_03_item{
      margin: 20px 10px 20px 0 !important;
      width: 165px;
      padding-left: 20px;
      // font-size: 1.2rem;
    }
  }
}


@media (max-width: 359px) {
  .sec_03_items{
    margin-right: -15px;
    margin-left: -10px;
    .sec_03_item{
      margin: 20px 10px 20px 0 !important;
      width: 145px;
      padding-left: 20px;
      font-size: 1.2rem;
    }
  }
}