@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 16px/22px $main_font;
	color: $main_text_color;
	background-color: #fff;
  background-image: url(../img/body-lines.png);
  background-position: top center;
  background-repeat: repeat-y;
}

body.unscroll{
	overflow: hidden;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
	}
}

input,textarea{
	box-sizing: border-box;
}

textarea{
	resize:none;
}

button, a{
	&:hover{
		cursor: pointer;
	}
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 3rem;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}
.bar-long {
	height: 5px;
	width: 0;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background: $main_color;
}

.btn{
  height: 3.75rem;
  border-radius: 1.875rem;
  border: 0.313rem solid #fff;
  background-color: $main_color;
  opacity: 0.9;
  overflow: hidden;

  width: 100%;
  max-width: 400px;

	color: #fff;
	font: 1.5rem $main_bold_font;
  letter-spacing: .025em;
	text-transform: uppercase;
  transition: opacity .3s;
  span{
    display: inline-block;
    margin-right: 40px;
  }
}

.btn:hover{
	opacity: 1;
  img{
    transform: translateX(60px)
  }
}


.main_title{
  font-family: $main_bold_font;
}

.title_text{
  font-family: $bold_font;
}

.text--upper{
  text-transform: uppercase;
}

.text--blue{
  color: $main_color;
}

.rotate--minus{
  transform: rotate(-90deg)
}

.rotate--plus{
  transform: rotate(90deg)
}

.col--nopadding{
  margin-left: -30px;
}

.margined--left{
  margin-left: 100px;
}

.section_title{
  font-size: 2.75rem;
  line-height: 3.375rem;;
  margin-bottom: 45px;
}

.vertical_text{
  position: absolute;
  color: $main_color;
  font-size: 3rem;
  opacity: 0.5;
}

// Section 01

.main_menu{
  background: #fff;
  padding: 45px 45px 60px 65px;
  .callback_button{
    margin-top: 115px;
  }
}

.main_menu_navigation{
  .menu_navigation_item+.menu_navigation_item{
    margin-top: 30px;
  }
}

.menu_navigation_link{
  display: block;
  position: relative;
  color: #212121;
  font-size: 1.125rem;
  line-height: 2.25rem;
  transition: transform 0.3s, color .3s;
}

.tel{
  display: block;
  color: #000;
  font-size: 1.5rem;
  margin-top: 10px;
}

.tel:hover{
  color: $main_color;
}

.menu_navigation_item{
  position: relative;
}

.menu_navigation_item:before{
  position: absolute;
  content: '';
  width: 2px;
  height: 0px;
  left: 0px;
  bottom: 0px;
  background-color: $main_color;
  transition: height .3s;
}

.menu_navigation_item:hover{
  .menu_navigation_link{
    color: $main_color;
    transform: translate(35px);
  }
}

.menu_navigation_item:hover:before{
  height: 100%;
}

.main_menu_logo{
  margin-bottom: 40px;
}

.callback_button{
  position: relative;
  font-size: 1.5rem;
  line-height: 2.375rem;
  max-width: 195px;
  border-bottom: 2px solid #000;
  display: block;
  letter-spacing: 0.03em;
}

.callback_button:before{
  position: absolute;
  content: '';
  width: 0px;
  height: 2px;
  left: 0px;
  bottom: -2px;
  background-color: $main_color;
  transition: width .3s;
}

.callback_button:hover:before{
  width: 100%;
}

#sec_01{
  padding-bottom: 560px;

  background-image: url(../img/sec_01-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}


.sec_01_wrapper{
  position: relative;
  padding-top: 175px;
  padding-left: 165px;
  .vertical_text{
    color: #90caf9;
    opacity: 1;
    top: 400px;
    left: -100px;
  }
  h1{
    font-size: 11.4rem;
    line-height: 8rem;
    padding-top: 45px;
    color: transparent;
    padding-right: 40px;
    margin-right: -40px;

    background-image: url(../img/h1-bg.png);
    background-position: top left;
    background-repeat: no-repeat;;
  }
  .afterheader{
    text-align: right;
    font-size: 2.625rem;
    letter-spacing: .02em;
    margin-top: 25px;
  }
  .sec_01_describe{
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: .025em;
    margin: 60px 0 75px;
  }
  .btn{
    max-width: 390px;
  }
}

.menu_site_navigation{
  cursor: pointer;
  display: none;
  background-color: transparent;
  overflow: hidden;
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 85px;
  left: 0;
  width: 130px;
  padding: 20px;
  opacity: 0.5;
  transition: all 0.5s;
}

.menu_site_navigation:hover{
  opacity: 1;
}

.menu_site_navigation.open{
  background-color: #fff;
  z-index: 10;
  position: fixed;
  width: 350px;
  padding: 45px 45px 60px 65px;
  height: 100vh;
  opacity: 1;
}