@import url(../libs/niftymodal/component.css);
@import url(../libs/slick/slick.min.css);
@import url(../libs/lightbox2/lightbox.min.css);
.site_wrapper {
  overflow: hidden; }

#sec_02 {
  margin-top: -385px; }
  #sec_02 .sec_img {
    float: right;
    margin-right: -10px; }
  #sec_02 .section_title {
    margin-top: 95px;
    font-size: 3rem; }
  #sec_02 .item + .item {
    margin-top: 30px; }

#sec_03 {
  padding-top: 110px; }
  #sec_03 .sec_img-1 {
    margin: -10px 0 0 65px; }
  #sec_03 .sec_img-2 {
    margin-top: -215px; }

.sec_03_items {
  margin-right: -100px; }

.sec_03_item {
  position: relative;
  padding-left: 30px;
  width: 203px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 45px; }
  .sec_03_item .item_number {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.375rem;
    height: 1.375rem;
    border: 0.063rem solid #ededed;
    line-height: 1.37rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-family: "Raleway-Bold", sans-serif;
    text-align: center;
    font-size: 0.75rem; }
  .sec_03_item .title_text, .sec_03_item .text {
    display: inline; }

.sec_03_item + .sec_03_item {
  margin-left: 10px; }

.mobile {
  display: none; }

#sec_04 {
  padding: 35px 0 60px; }
  #sec_04 .sec_img {
    margin-top: -60px; }
  #sec_04 .item + .item {
    margin-top: 40px; }
  #sec_04 .item {
    letter-spacing: .025em; }

.item_text + .item_text {
  margin-top: 20px; }

#sec_05 {
  padding: 215px 0 120px; }
  #sec_05 .sec_img {
    margin: -160px 0 0 -100px; }
  #sec_05 .sec_05-text + .sec_05-text {
    margin-top: 20px; }

#sec_06 {
  background-image: url(../img/sec_06-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 105px 0 100px; }
  #sec_06 .items_row {
    background-image: url(../img/sec_06-img-1.png);
    background-position: top left 200px;
    background-repeat: no-repeat;
    padding-bottom: 300px; }

.sec_06-item {
  margin-bottom: 45px;
  max-width: 310px;
  letter-spacing: .025em; }
  .sec_06-item .item_number {
    opacity: 0.15;
    color: #2196f3;
    font-family: "BebasNeueBold", sans-serif;
    font-size: 4.5rem;
    line-height: 4.2rem; }

.number_block--arrow {
  background-image: url(../img/ar-2.png);
  background-position: left 100px center;
  background-repeat: no-repeat; }

#sec_07 {
  margin-top: -195px; }
  #sec_07 .sec_img {
    margin-top: -120px; }

#sec_08 {
  padding: 40px 0 80px; }
  #sec_08 .sec_img {
    margin-top: -55px; }
  #sec_08 .text_block {
    letter-spacing: .025em; }
  #sec_08 .text_block + .text_block {
    margin-top: 20px; }

.sec_08-btn {
  max-width: 362px;
  margin-top: 25px;
  border: 0.313rem solid #ededed; }

#sec_09 {
  padding: 95px 0 100px; }
  #sec_09 .row + .row {
    margin-top: 45px; }

.program_period {
  position: relative;
  padding: 25px 0px 50px 80px;
  background-image: url(../img/program_underline.png);
  background-position: bottom left 20px;
  background-repeat: no-repeat; }
  .program_period .vertical_text {
    top: 85px;
    left: -50px; }

.program_title {
  font-size: 1.125rem;
  margin-bottom: 58px; }

.program_lists_item {
  width: 100%;
  max-width: 225px;
  display: inline-block;
  vertical-align: top; }

.program_lists_item:nth-child(5) {
  max-width: 205px; }

.program_lists_item + .program_lists_item {
  margin-left: 55px; }

.lists_item_title {
  line-height: 1.55rem;
  max-height: 1.55rem;
  padding-left: 20px;
  border-left: 1px solid #2196f3;
  margin-bottom: 50px; }

.program_list .list_item + .list_item {
  margin-top: 21px; }

#sec_10 {
  padding: 120px 0 100px; }

.coach_img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  margin-bottom: 40px;
  width: 100%;
  max-width: 303px; }

.coach_img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.coach_card_name {
  font-size: 1.125rem;
  margin-bottom: 20px;
  text-align: center; }

.coach_card_description {
  position: relative;
  overflow: hidden;
  -webkit-transition: height .6s;
  transition: height .6s; }

.more_info {
  display: none; }

.coach_card_description:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 10px;
  right: 0px;
  bottom: 0px;
  background: url(../img/dots.png) center no-repeat; }

.coach_card_description.active:before {
  display: none; }

.coach_card_button {
  position: relative;
  display: block;
  width: 100%;
  max-width: 295px;
  text-align: left;
  font-size: 1.5rem;
  background: none;
  line-height: 2.4rem;
  margin-top: 45px;
  border-bottom: 0.25rem solid #eceff1; }
  .coach_card_button span {
    display: inline-block;
    margin-right: 30px;
    min-width: 155px; }
  .coach_card_button img {
    vertical-align: middle; }

.coach_card_button:before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0.25rem;
  left: 0px;
  bottom: -0.25rem;
  background: #2196f3;
  -webkit-transition: width .3s;
  transition: width .3s; }

.coach_card_button:hover:before {
  width: 100%; }

.coach_card_button.active img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

#sec_11 {
  padding-top: 200px;
  padding-bottom: 70px;
  background-image: url(../img/sec_10-bg.png);
  background-position: top -120px center;
  background-repeat: no-repeat; }
  #sec_11 .item + .item {
    margin-top: 25px; }
  #sec_11 .sec_img-1 {
    margin-top: -175px;
    margin-bottom: 90px; }
  #sec_11 .sec_img-2 {
    margin-top: -95px;
    margin-bottom: 5px; }

.sec_11-cta {
  margin-top: 70px;
  margin-bottom: 10px;
  letter-spacing: .025em; }

.sec_11-btn {
  max-width: 360px;
  padding-left: 10px; }

#sec_12 {
  background-image: url(../img/sec_11-bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 120px; }
  #sec_12 .col-8 {
    margin-left: -15px;
    padding: 0; }
  #sec_12 .section_title {
    margin-top: 140px; }
  #sec_12 .item + .item {
    margin-top: 25px; }

.slide {
  height: 755px;
  position: relative; }
  .slide a {
    display: block;
    position: absolute;
    cursor: pointer; }
  .slide a:nth-child(1) {
    top: 0;
    left: 0; }
  .slide a:nth-child(2) {
    top: 100px;
    right: 0px; }
  .slide a:nth-child(3) {
    bottom: 0;
    left: 126px; }

#sec_13 {
  background-image: url(../img/sec_12-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 105px 0 125px;
  margin-top: 120px; }
  #sec_13 .sec_13-row_1 {
    margin-bottom: 20px; }

.schedule_time {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.563rem;
  margin-bottom: 15px; }

#sec_14 {
  padding: 270px 0 100px;
  background-image: url(../img/sec_13-bg.png);
  background-position: top 290px right;
  background-repeat: no-repeat; }
  #sec_14 .sec_img-1 {
    margin-top: -165px;
    margin-bottom: 100px; }
  #sec_14 .sec_img-2 {
    margin-top: -70px;
    margin-left: 30px; }
  #sec_14 .item + .item {
    margin-top: 40px; }

#sec_14-1 {
  padding: 70px 0 100px; }
  #sec_14-1 .sec_img-1 {
    margin-top: -165px;
    margin-bottom: 100px; }
  #sec_14-1 .sec_img-2 {
    margin-top: -70px;
    margin-left: 30px; }
  #sec_14-1 .item + .item {
    margin-top: 40px;
    line-height: 24px; }
    #sec_14-1 .item + .item br {
      display: block; }
  #sec_14-1 .slick-next {
    right: 220px; }
  #sec_14-1 .slick-prev {
    left: 120px;
    right: initial; }
  #sec_14-1 .mobile {
    display: none; }
  #sec_14-1 .tabs .btn {
    width: 200px;
    height: 50px; }
  #sec_14-1 .tab_control {
    margin-bottom: 30px;
    max-width: 552px; }
    #sec_14-1 .tab_control li {
      max-width: 200px; }
    #sec_14-1 .tab_control li:first-child {
      float: left; }
    #sec_14-1 .tab_control li:nth-child(2) {
      float: right; }

#sec_15 {
  padding-top: 175px;
  padding-bottom: 80px; }
  #sec_15 .text {
    max-width: 385px; }
  #sec_15 .sec_img-1 {
    margin-top: -165px; }

#sec_16 {
  padding: 100px 0 115px;
  background-image: url(../img/sec_15-bg.png);
  background-position: bottom center;
  background-repeat: no-repeat; }
  #sec_16 .item {
    max-width: 360px; }
  #sec_16 .item + .item {
    margin-top: 20px; }
  #sec_16 form {
    margin-top: 70px;
    float: right;
    width: 100%;
    max-width: 480px; }
    #sec_16 form .btn {
      max-width: 480px;
      margin-top: 45px; }
    #sec_16 form .field + .field {
      margin-top: 20px; }

.sec_16-cta {
  margin-top: 40px; }

.footer {
  margin-top: 230px; }

.footer_navigation .menu_navigation_item {
  display: inline-block; }

.footer_navigation .menu_navigation_link {
  color: #fff; }

.footer_navigation .menu_navigation_item + .menu_navigation_item {
  margin-left: 80px; }

footer {
  padding: 15px 0 15px;
  background-color: #202020; }
  footer .politics {
    margin-top: 17px; }
    footer .politics a {
      color: #65666a;
      font-size: 14px; }
    footer .politics a:hover {
      color: #2196f3; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-top: 10px;
    margin-left: 25px;
    float: right; }
    footer .logo_rezart img {
      width: 70px; }

div[id*="modal_picture"] .md-content {
  background: none;
  text-align: center; }

div[id*="modal_picture"] [alt="Hotel"] {
  max-width: 100%;
  max-height: 90vh; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
.tabs__content {
  display: none !important; }

.tabs__content.active {
  display: block !important; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px; }
  div[id*="modal_callback"] h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 30px 30px 0px; }
  div[id*="modal_callback"] .h2_desc {
    margin-bottom: 25px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: transparent;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] form {
    width: 100%;
    max-width: 400px;
    margin: 40px auto; }
  div[id*="modal_callback"] .field {
    width: 100%; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 20px; }
  div[id*="modal_callback"] .btn {
    margin: 40px auto 0;
    display: block; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 70px;
    font-size: 2rem;
    color: #2196f3;
    font-family: "BebasNeueBold", sans-serif; }

.md-overlay {
  background-image: url(../img/popup-bg.png);
  background-position: top center;
  background-repeat: no-repeat; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 620px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -10px;
  opacity: 1; }

.btn_close_modal {
  position: absolute;
  right: -30px;
  opacity: 0.8;
  z-index: 10;
  top: 0px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .btn_close_modal svg {
    width: 40px; }
  .btn_close_modal a {
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn_close_modal a svg .a {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #d4d4d4; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #2196f3; }

.btn_close_modal:hover {
  opacity: 1; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: none; }

.slick-dots li button {
  background-color: #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #000;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 12px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 12px; }

.slick-next {
  z-index: 10;
  right: 240px;
  background: url(../img/slider-next.png) center no-repeat;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.slick-prev {
  background: url(../img/slider-next.png) center no-repeat;
  z-index: 10;
  right: 330px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.slick-next, .slick-prev {
  position: absolute;
  display: block;
  cursor: pointer !important;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  top: 68px;
  -webkit-transition: all .3s;
  transition: all .3s; }

.slick-next:hover, .slick-prev:hover {
  background-color: #a6c4ed; }

.slick-slide {
  outline: none; }

.field {
  position: relative;
  display: block; }
  .field input {
    padding: 15px 0;
    background: none;
    width: 100%;
    color: #000;
    font: 18px/20px "RalewayLight", sans-serif; }
  .field textarea {
    padding: 25px 0;
    width: 100%;
    color: #000;
    font: 18px/20px "RalewayLight", sans-serif; }

.field:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #2196f3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

input:active + .bar, input:focus + .bar,
textarea:active + .bar, textarea:focus + .bar {
  width: 100%; }

.field + .field {
  margin-top: 7px; }

input::-webkit-input-placeholder {
  color: #9F9F9F;
  font: 1rem/1.3rem "RalewayLight", sans-serif; }

input:-moz-placeholder {
  color: #9F9F9F;
  font: 1rem/1.3rem "RalewayLight", sans-serif; }

input::-moz-placeholder {
  color: #9F9F9F;
  font: 1rem/1.3rem "RalewayLight", sans-serif; }

input:-ms-input-placeholder {
  color: #9F9F9F;
  font: 1rem/1.3rem "RalewayLight", sans-serif; }

@media (max-width: 1800px) {
  #sec_12 {
    background-position: top right -300px; }
  #sec_14 {
    background-position: top 390px right -200px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #sec_14-1 .photo_slider-1,
  #sec_14-1 .photo_slider-2 {
    margin: 0 auto; }
    #sec_14-1 .photo_slider-1 img,
    #sec_14-1 .photo_slider-2 img {
      width: 100%;
      max-width: 551px; }
  #sec_14-1 .slick-next {
    right: 110px; }
  #sec_14-1 .slick-prev {
    left: 110px; }
  .btn {
    padding: 10px 20px; }
    .btn span {
      margin-right: 0; }
  .btn_arrow {
    display: none; }
  .col--nopadding {
    margin-left: 0; }
  #sec_04 .only_img_col img, #sec_05 .only_img_col img, #sec_07 .only_img_col img,
  #sec_11 .only_img_col img, #sec_14 .only_img_col img, #sec_15 .only_img_col img {
    width: 100%; }
  #sec_04 .img_only_col img, #sec_05 .img_only_col img, #sec_07 .img_only_col img,
  #sec_11 .img_only_col img, #sec_14 .img_only_col img, #sec_15 .img_only_col img {
    width: 100%; }
  .sec_01_wrapper h1 {
    background-size: contain;
    margin-right: -20px;
    font-size: 8.4rem; }
  .sec_01_wrapper .afterheader {
    margin-top: 0; }
  #sec_03 .sec_img-1 {
    width: 300px; }
  .sec_03_item {
    width: 175px; }
  #sec_04 .sec_img {
    margin-top: 80px; }
  #sec_04 .only_img_col img {
    width: 100%; }
  #sec_05 {
    padding-top: 80px; }
    #sec_05 .sec_img {
      margin: 0; }
  .four--colums .program_lists_item {
    width: 155px; }
  #sec_11 .sec_img-2 {
    margin-top: 0px;
    margin-bottom: 40px; }
  .slide {
    height: 655px; }
    .slide img {
      width: 365px; }
    .slide a:nth-child(3) {
      left: 91px; }
  .slick-next {
    right: 200px; }
  .slick-prev {
    right: 295px; }
  #sec_12 {
    background-position: top right -300px; }
  #sec_13 {
    margin-top: 0; }
  #sec_14 .sec_img-2 {
    margin-top: 102px; }
  #sec_16 {
    padding-top: 60px; }
    #sec_16 form {
      margin-top: 150px; }
  .footer_navigation .menu_navigation_item + .menu_navigation_item {
    margin-left: 40px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #sec_14-1 .desctop {
    display: block; }
  #sec_14-1 .photo_slider-1,
  #sec_14-1 .photo_slider-2 {
    margin: 40px auto 0; }
    #sec_14-1 .photo_slider-1 img,
    #sec_14-1 .photo_slider-2 img {
      width: 100%;
      max-width: 551px; }
  #sec_14-1 .slick-next {
    right: 40px; }
  #sec_14-1 .slick-prev {
    left: 40px; }
  #sec_14-1 .tab_control {
    max-width: 100%; }
  html {
    font-size: 13px; }
  body {
    line-height: 20px; }
  br {
    display: none; }
  .btn {
    padding: 10px 20px; }
    .btn span {
      margin-right: 0; }
  .btn_arrow {
    display: none; }
  .col--nopadding {
    margin-left: 0; }
  #sec_04 .only_img_col img, #sec_05 .only_img_col img, #sec_07 .only_img_col img,
  #sec_11 .only_img_col img, #sec_14 .only_img_col img, #sec_15 .only_img_col img {
    width: 100%; }
  #sec_04 .img_only_col img, #sec_05 .img_only_col img, #sec_07 .img_only_col img,
  #sec_11 .img_only_col img, #sec_14 .img_only_col img, #sec_15 .img_only_col img {
    width: 100%; }
  .desctop {
    display: none; }
  .mobile {
    display: block; }
  .main_menu {
    padding: 40px;
    margin-right: -30px; }
    .main_menu .callback_button {
      margin-top: 60px; }
  .sec_01_wrapper {
    padding-left: 80px;
    padding-top: 60px; }
    .sec_01_wrapper h1 {
      background: none;
      margin-right: 0px;
      color: #2196f3;
      font-size: 9.4rem; }
    .sec_01_wrapper .afterheader {
      margin-top: 0; }
    .sec_01_wrapper .vertical_text {
      top: 240px;
      margin-left: 0px; }
  #sec_02 {
    margin-top: -480px; }
  #sec_03 .sec_img-1 {
    width: 300px; }
  .sec_03_item {
    width: 175px;
    margin: 20px; }
  .sec_03_item + .sec_03_item {
    margin-left: 20px; }
  #sec_04 .sec_img {
    margin-top: 80px; }
  #sec_04 .only_img_col img {
    width: 100%; }
  #sec_05 {
    padding-top: 80px; }
    #sec_05 .sec_img {
      margin: 0; }
  .four--colums .program_lists_item {
    width: 140px; }
  #sec_07 .sec_img {
    margin-top: -40px; }
  #sec_08 .col-4 {
    margin-left: 0%;
    width: 45%; }
  .program_period {
    padding-left: 60px; }
  .program_lists_item {
    width: 200px; }
  .program_lists_item + .program_lists_item {
    margin-left: 25px; }
  #sec_11 {
    padding-top: 100px; }
    #sec_11 .sec_img-1 {
      margin-top: -50px; }
    #sec_11 .sec_img-2 {
      margin-top: 0px;
      margin-bottom: 160px; }
  #sec_12 {
    background-position: top right -300px; }
  .slider {
    margin-top: 200px; }
  .slider img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
  .slick-next {
    right: 30px; }
  .slick-prev {
    left: 30px;
    right: initial; }
  #sec_13 {
    margin-top: 0; }
  #sec_14 {
    padding-top: 80px;
    padding-bottom: 140px; }
    #sec_14 .sec_img-1 {
      margin-top: 0px; }
    #sec_14 .sec_img-2 {
      margin-top: 102px; }
  #sec_15 {
    padding-top: 80px; }
    #sec_15 .sec_img-1 {
      margin-top: -30px; }
  #sec_16 {
    padding-top: 60px; }
    #sec_16 form {
      margin-top: 120px; }
  .footer_navigation .menu_navigation_item + .menu_navigation_item {
    margin-left: 30px; }
  footer .politics a {
    font-size: 13px; }
  input::-webkit-input-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; }
  input:-moz-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; }
  input::-moz-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; }
  input:-ms-input-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; } }

@media screen and (max-height: 700px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  #sec_14-1 .photo_slider-1,
  #sec_14-1 .photo_slider-2 {
    margin: 40px auto 50px; }
    #sec_14-1 .photo_slider-1 img,
    #sec_14-1 .photo_slider-2 img {
      width: 100%;
      max-width: 551px;
      margin: 0 auto; }
  #sec_14-1 .slick-next {
    right: 40px; }
  #sec_14-1 .slick-prev {
    left: 40px; }
  #sec_14-1 .mobile, #sec_14-1 br {
    display: block; }
  #sec_14-1 .desctop {
    display: none; }
  #sec_14-1 .tab_control {
    max-width: 100%; }
  .btn {
    height: 4.3rem; }
  div[id*="modal_picture"] {
    display: none; }
    div[id*="modal_picture"] img {
      display: noen; }
  .menu_site_navigation {
    display: none !important; }
  #sec_02, #sec_05, #sec_06, #sec_14, #sec_15 {
    display: none; }
  [class*='col-'] {
    width: 100%; }
  [class*='offset'] {
    margin-left: 0; }
  .margined--left {
    margin-left: 0; }
  html {
    font-size: 13px; }
  body {
    line-height: 20px; }
  br {
    display: none; }
  .btn {
    padding: 10px 20px; }
    .btn span {
      margin-right: 0; }
  .btn_arrow {
    display: none; }
  .col--nopadding {
    margin-left: 0; }
  #sec_04 .only_img_col, #sec_05 .only_img_col, #sec_07 .only_img_col,
  #sec_11 .only_img_col, #sec_14 .only_img_col, #sec_15 .only_img_col {
    text-align: center; }
    #sec_04 .only_img_col img, #sec_05 .only_img_col img, #sec_07 .only_img_col img,
    #sec_11 .only_img_col img, #sec_14 .only_img_col img, #sec_15 .only_img_col img {
      width: 100%;
      max-width: 340px;
      margin: 30px 0 !important; }
  #sec_04 .img_only_col, #sec_05 .img_only_col, #sec_07 .img_only_col,
  #sec_11 .img_only_col, #sec_14 .img_only_col, #sec_15 .img_only_col {
    text-align: center; }
    #sec_04 .img_only_col img, #sec_05 .img_only_col img, #sec_07 .img_only_col img,
    #sec_11 .img_only_col img, #sec_14 .img_only_col img, #sec_15 .img_only_col img {
      width: 100%;
      max-width: 340px;
      margin: 30px 0 !important; }
  .desctop {
    display: none; }
  .mobile {
    display: block; }
  .main_menu {
    padding: 20px 40px 20px;
    margin: 0 -30px; }
    .main_menu .phones_wrapper {
      float: right;
      text-align: right;
      margin-top: -10px; }
    .main_menu .callback_button {
      margin-top: 0px; }
    .main_menu .logo {
      vertical-align: top;
      margin-bottom: 0; }
  .main_menu_navigation {
    display: none; }
  .sec_01_wrapper {
    padding-left: 80px;
    padding-top: 60px; }
    .sec_01_wrapper h1 {
      background: none;
      margin-right: 0px;
      color: #2196f3;
      font-size: 9.4rem; }
    .sec_01_wrapper .afterheader {
      margin-top: 0;
      line-height: 32px; }
    .sec_01_wrapper .vertical_text {
      margin-left: 0px;
      top: 240px; }
  #sec_01 {
    padding-bottom: 70px; }
  #sec_03 .sec_img-1 {
    width: 300px; }
  #sec_03 .sec_img-2 {
    display: none; }
  .sec_03_items {
    margin-right: -20px;
    margin-left: -20px; }
  .sec_03_item {
    width: 175px;
    margin: 15px; }
  .sec_03_item + .sec_03_item {
    margin-left: 15px; }
  #sec_04 {
    padding-bottom: 0; }
    #sec_04 .sec_img {
      display: none; }
    #sec_04 .only_img_col img {
      width: 100%; }
  #sec_05 {
    padding-top: 80px; }
    #sec_05 .sec_img {
      margin: 0; }
  #sec_07 {
    margin: 0;
    padding-bottom: 60px; }
  #sec_08 {
    padding-bottom: 0; }
    #sec_08 .col-4 {
      margin-left: 0%; }
    #sec_08 .sec_img {
      margin: 40px 0 -40px;
      width: 100%;
      max-width: 380px; }
  .program_period {
    padding-left: 60px; }
  .program_lists_item, .program_lists_item:nth-child(5) {
    max-width: 100%; }
  .program_lists_item + .program_lists_item {
    margin-left: 0px;
    margin-top: 40px; }
  .lists_item_title {
    margin-bottom: 15px; }
  .program_period .vertical_text {
    left: -35px; }
  .coach_card {
    max-width: 300px;
    margin: 0 auto 80px; }
  #sec_11 {
    padding-top: 0; }
    #sec_11 .sec_img-1 {
      display: none; }
    #sec_11 .sec_img-2 {
      margin-top: 0px;
      margin-bottom: 160px; }
    #sec_11 .sec_11-row_2 {
      margin-top: 50px; }
    #sec_11 .sec_img-3 {
      display: none; }
  .slider {
    margin-top: 60px;
    height: auto; }
  #sec_12 {
    background: none;
    padding-bottom: 40px; }
    #sec_12 .section_title {
      margin-top: 0; }
    #sec_12 .col-8 {
      margin-left: 0; }
  .slider img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
  .slick-next {
    right: 30px; }
  .slick-prev {
    left: 30px;
    right: initial; }
  #sec_13 {
    background-size: cover;
    margin-top: 0; }
    #sec_13 .col-2 + .col-2 {
      margin-top: 30px; }
  .schedule_time {
    margin-bottom: 5px; }
  .schedule_item {
    width: 300px;
    margin: 0 auto; }
  .schedule_item + .schedule_item {
    margin-top: 20px; }
  #sec_14 {
    padding-top: 80px;
    padding-bottom: 140px; }
    #sec_14 .sec_img-1 {
      margin-top: 0px; }
    #sec_14 .sec_img-2 {
      margin-top: 102px; }
  #sec_16 {
    padding-top: 60px; }
    #sec_16 .item {
      max-width: 100%; }
    #sec_16 form {
      float: none;
      margin: 60px auto 0; }
  .footer {
    margin-top: 130px;
    text-align: center; }
    .footer .logo {
      margin-bottom: 30px; }
  .footer_navigation .menu_navigation_item + .menu_navigation_item {
    margin-left: 18px; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 14px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*="modal_callback"] {
    min-width: 320px; }
    div[id*="modal_callback"] .md-content {
      padding: 35px; }
    div[id*="modal_callback"] h2 {
      margin: 30px 0;
      line-height: 34px; }
    div[id*="modal_callback"] form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%; }
    div[id*="modal_callback"] .field {
      max-width: 360px;
      width: 100%; }
    div[id*="modal_callback"] .field + .field {
      margin-top: 15px; }
    div[id*="modal_callback"] .btn {
      margin: 25px auto 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px;
    font-size: 2rem;
    color: #2196f3;
    font-family: "BebasNeueBold", sans-serif; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; }
  input::-webkit-input-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; }
  input:-moz-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; }
  input::-moz-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; }
  input:-ms-input-placeholder {
    color: #9F9F9F;
    font: 1.3rem/1.3rem "RalewayLight", sans-serif; } }

@media (max-width: 499px) {
  html {
    font-size: 10px; }
  body {
    font-size: 1.5rem; }
  .sec_01_wrapper {
    padding-left: 50px; }
    .sec_01_wrapper h1 {
      font-size: 7rem;
      padding: 0;
      line-height: 6rem; }
    .sec_01_wrapper .afterheader {
      text-align: left; }
    .sec_01_wrapper .vertical_text {
      top: 200px; }
  .btn_close_modal {
    right: 0; }
  .program_title {
    font-size: 1.4rem; }
  #sec_10 {
    padding-top: 0; }
  .slick-next, .slick-prev {
    top: 0; } }

@media (max-width: 430px) {
  #sec_14-1 .tab_control li {
    display: block;
    float: none !important;
    margin: 0 auto; } }

@media (max-width: 404px) {
  .sec_03_items {
    margin-right: -15px;
    margin-left: -10px; }
    .sec_03_items .sec_03_item {
      margin: 20px 10px 20px 0 !important;
      width: 165px;
      padding-left: 20px; } }

@media (max-width: 359px) {
  .sec_03_items {
    margin-right: -15px;
    margin-left: -10px; }
    .sec_03_items .sec_03_item {
      margin: 20px 10px 20px 0 !important;
      width: 145px;
      padding-left: 20px;
      font-size: 1.2rem; } }
